// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$light-blue: #DFE7FD;
$dark-blue: #5f7ac4;
$hover-dark-blue: #889edd;

// PALETTE:
$dark-violet: #230f3e;
$pastel-violet: #cbb1ec;
$pastel-pink: #f5b7de;
$light-grey: #f1f1f1;


$light-backgrounf-color: #FDE2E4;
