<h1 class="text-center fw-bolder m-3">Rent The Magic</h1>
<div class="cards">
  <% @costumes.each do |costume| %>
  <div class="card">
    <h3><%= costume.name %></h3>
    <div class="card-img-container d-flex justify-content-center align-items-center w-100">
      <%= cl_image_tag costume.photo.key, height: 300, width: 200, crop: :fill %>
    </div>
    <p class="card-price"><%= number_to_currency(costume.price) %></p>
    <%= link_to "Rent this costume!", costume_path(costume), class: "rent-link" %>
  </div>
  <% end %>
</div>
