@import "components/collapsible";

.bookings-container {
  float: right;
  background-color: rgba(47, 29, 255, 0.2);
  margin-right: auto;
  padding: 15px;
  margin: 10px 0;
  border-radius: 7px;
}

.costumes-container {
  background-color: transparent;
}
