@import "components/collapsible";
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Lora:ital@0;1&family=Martian+Mono&family=Montserrat:wght@300&family=Nunito:wght@300;400&family=Open+Sans:wght@300;400&family=Orbitron:wght@800;900&family=Playfair+Display+SC:wght@400;700&family=Playfair+Display:wght@600;700&family=Poppins:wght@400;600;700;800&display=swap');

.bookings-container {
  float: right;
  background-color: white;
  margin-right: auto;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
}

.costumes-container {
  background-color: transparent;
  //margin-left: 100px;
}

.title-costume {
  margin-left: 0px;
  margin-bottom: 20px;
  font-family: $title-font;
  font-size: 30px;
  color: $dark-violet;
}

.booking-title {
  font-family: $title-font;
  font-size: 30px;
  color: $dark-violet;
}



// h1, h2, h3, h4 {
//   font-family: $p-font;
//   //letter-spacing: 2px;
//   //font-weight: bolder;
//   margin-bottom: 0px;
//   font-size: 20px;
// }

.img-costume {
  width: 100%;
}
