// Specific CSS for your home-page

.container-homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 40px;
  }


  .conteneur-principal {
    padding: 100px;
  }
