// Specific CSS for your home-page

.container-homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 40px 180px;
  height: 850px;
  }

.conteneur-principal {
  padding: 50px;
}

.fond-blanc {
  box-shadow: 0 0 15px rgba(0,0,0,0.2) !important;
  background-color: rgba(255,255,255,0.95);
  height: 100%;
}

.left-block-homepage {
  align-items: center;
}

.logo h1{
  font-family: 'Climate Crisis', cursive;
  font-size: 60px;
  background-image: -webkit-linear-gradient(left, #0E0021, #1C0647, #2F0A69, #732794, #893781, #9D485B, #CD4660, #A6543F, #AE5D1B);
	-webkit-animation: animatedBackground_a 5s linear infinite alternate;
	-webkit-background-clip: text;
	-webkit-text-fill-color: #0000;
	background-clip: text;
  margin-bottom: 50px;
}

@keyframes animatedBackground_a {
	0% { background-position: 0 0 }
	100% { background-position: -500px 0 }
}
