<div class="row">
  <%= simple_form_for([costume, booking]) do |f| %>
  <div class="col">
    <%= f.input :start_date, as: :string,
                wrapper_html: { class: "mb-4" },
                label_html: { class: "form-label text-secondary fw-bold" },
                input_html: { data: { controller: "flatpickr" } } %>
  </div>
  <div class="col">
    <%= f.input :end_date, as: :string,
                wrapper_html: { class: "mb-4" },
                label_html: { class: "form-label text-secondary fw-bold" },
                input_html: { data: { controller: "flatpickr" } } %>
    <%= f.submit 'Rent', class: "btn-ghost fw-bolder"%>
  </div>
  <% end %>
</div>
