<div class="container">
  <h1 class="text-center">My dashboard</h1>
  <div class="row">
    <div class="costumes container col-7 bg-white">
      <h2>My costumes</h2>
      <% @costumes.each do |costume| %>
        <div class="card p-2 m-2">
          <%= costume.name %>
          <%= cl_image_tag costume.photo.key, height: 300, width: 200, crop: :fill %>
        </div>
      <% end %>
    </div>
    <div class="bookings container bg-white col-4 m-1 text-end">
      <h2>My bookings</h2>
      <% @bookings.each do |booking| %>
        <%= link_to booking.costume.name, costume_path(booking.costume) %>
        <%= booking.start_date %>
      <% end %>
    </div>
  </div>
</div>
