<h1>Dashboard test</h1>
<h2>My costumes</h2>
<% @costumes.each do |costume| %>
  <div class="card">
    <%= costume.name %>
    <%= cl_image_tag costume.photo.key, height: 300, width: 200, crop: :fill %>
  </div>
<% end %>
