<div class="fond">
    <div class="container-homepage">
      <div class="left-block-homepage">
        <div class="logo">
          <h1>Rent <br>the Magic</h1>
        </div>

        <div class="index-button">
          <%= link_to "Book now", costumes_path, class: "btn btn-flat" %>
        </div>
      </div>

      <div class="right-block-homepage">
        <img src="https://media.istockphoto.com/id/1218993542/fr/vectoriel/homme-rectifi%C3%A9-dans-lillustration-plate-de-vecteur-plat-de-costume-de-coq-caract%C3%A8re-de.jpg?s=612x612&w=is&k=20&c=3IYWFlprJHHDb7Rvq9SL7AcMxsDdJo7GzafKZfMAtsI=" alt="costumes">
      </div>
    </div>
</div>
