<div class="fond">
    <div class="container-homepage">
      <div class="left-block-homepage">
        <div class="logo">
          <h1>Rent <br>the Magic</h1>  
        </div>

        <div class="block">
          <%= link_to "Rent now", costumes_path, class: "btn btn-ghost" %>
        </div>
      </div>

      <div class="right-block-homepage">
        <%= image_tag "illu1.PNG", height: 600 %>
      </div>
    </div>
</div>
