.btn-flat {
  color: rgb(14, 13, 13);
  padding: 8px 24px;
  border-radius: 5px;
  background: #DFD0F1;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #DFD0F1;
  color: white;
}

.btn-ghost {
  color: #416259;
  border: 1px solid #4A4A4A;
  padding: 8px 18px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin: 20px 10px 0 10px;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-show {
  margin-left: 50px;
  width: fit-content;
  
}
