.collapsible {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid $pastel-violet;

}

button{
  font-family: 'Poppins' !important;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active, .collapsible:hover {
  background-color: rgba($color: white, $alpha: .9);
  border: none;
  box-shadow: rgba(193, 193, 197, 0.2) 0px 7px 29px 0px;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: rgba($color: white, $alpha: .6);
  // justify-content: space-between;
  // align-items: center;
  position: relative;
  p {
    font-family: 'Poppins' !important;

  }
}
