.arrow {
  position: relative;
}

.img-arrow {
  position: absolute;
  top: -61px;
  left: -165px;
  height: 189px;
  transform: rotate(17deg);
}

.images{
  position: relative;
}
.img-crown{
  position: absolute;
  top: -33px;
  left: 687px;
  height: 151px;
  transform: rotate(65deg);
}
.img-etoile{
  position: absolute;
  top: 16px;
  left: 0px;
  height: 116px;
  transform: rotate(335deg);
}

.img-linie{
  position: absolute;
  top: 310px;
  left: 269px;
  height: 302px;
  transform: rotate(133deg);
}

.img-blabla{
  position: absolute;
  top: 225px;
  left: -59px;
  height: 66px;
  transform: rotate(65deg);
}