.arrow {
  position: relative;
}

.img-arrow {
  position: absolute;
  top: -2px;
  left: -93px;
  height: 93px;
  transform: rotate(75deg);
}

.images{
  position: relative;
}
.img-crown{
  position: absolute;
  top: -2px;
  left: -93px;
  height: 93px;
  transform: rotate(75deg);
}
.img-etoile{
  position: absolute;
  top: -2px;
  left: -93px;
  height: 93px;
  transform: rotate(75deg);
}
.img-linie{
  position: absolute;
  top: -2px;
  left: -93px;
  height: 93px;
  transform: rotate(75deg);
}