.form-container{
  background-color: #ffffff;
  border-radius: 10px;
}
.fairy{
  width: 500px;
}

.bouton-fairy{
  background-color: #889edd;
  border-radius: 40%;
}

.col-8 {
  width: 600px;
}

// .row {
//   padding: 50px 100px;
// }
