
.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.align-menu {
  color: $dark-violet;
  font-family: $p-font;
}

.nav-link {
  padding: 20px;
  padding-right: 25px;
}

.nav-link:hover {
  color: $pastel-violet;
}

.container-navbar {
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
}
