.navbar-lewagon {
  justify-content: space-between;
  background:#DFE7FD;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.align-menu {
  display: flex;
  color: #637bbd;
}
.nav-link {
  padding-right: 15px;
  
}

.nav-link:hover {
  color: #889edd;
}

.logo {
  display: flex;
  font-size: 20px;
}

.logo h1 {
  font-size: 30px;
  font-family: 'Tilt Warp', cursive;
  color: #637bbd;
}
