
.navbar-lewagon {
  justify-content: space-between;
  background:#DFE7FD;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.align-menu {
  display: flex;
  color: $dark-blue;
  font-family: $p-font;
}
.nav-link {
  padding-right: 15px;
}

.nav-link:hover {
  color: $hover-dark-blue;
}

.logo {
  display: flex;
  font-size: 20px;
}

.logo h1 {
  font-size: 30px;
  font-family: $title-font;
  color: $dark-blue;
}
