.search-form {
   /* set the maximum width */
   min-width: 500px;
  max-width: 600px;
  // margin: 0 auto; /*
  text-align: center !important;

}

.container-map-search {
  padding: 0 30px;
  color: white;
  font-family: 'Poppins';
  border-radius: 7px;
  position: sticky;
}

.map {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h6 {
  font-family: 'Poppins';
  font-size: 16px;
}
